html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(248, 251, 251);
}
.arrange{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* global.css 中重置默认样式 */
h2 {
    margin: 0; /* 清除默认margin */
    /* 可选：自定义间距，比如只保留bottom */
    /* margin-bottom: 10px; */
}
p {
    margin: 0; /* 清除默认margin */
    /* 可选：自定义间距 */
    /* margin-top: 10px; */
}
/*小字类*/
.small-font{
    font-size: 20px;
    opacity: 0.5;
}
/* 分类卡片的缩放动画 */
.hover-scale-to-wide {
  &:hover {
        /*同时加上一些阴影*/
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        animation: hoverScaleToWide 0.3s ease-in-out forwards;
        cursor: pointer;
    }
}

