html {
  background-color: rgb(var(--color-bg-root));
  color: #373a3c;
  --color-bg-root: 250 250 250;
  --color-bg-primary: 255 255 255;
  --color-bg-secondary: 244 244 245;
  --color-text-primary: 55 58 60;
  --color-text-secondary: 113 113 122;
  --color-border-primary: 228 228 231;
  --color-accent: 37 99 235;

  @media (prefers-color-scheme: dark) {
    background-color: rgb(var(--color-bg-root));
    color: #fff;
    --gray-5: 173 181 189;
    --gray-6: 134 142 150;
    --gray-7: 36 41 46;
    --gray-8: 24 27 31;
    --gray-9: 16 18 20;
    --color-bg-root: var(--gray-9);
    --color-bg-primary: var(--gray-8);
    --color-bg-secondary: var(--gray-7);
    --color-text-primary: var(--gray-5);
    --color-text-secondary: var(--gray-6);
    --color-border-primary: var(--gray-6);
    --color-accent: 56 189 248;
  }

  &[data-theme=dark] {
    background-color: rgb(var(--color-bg-root));
    color: #fff !important;
    --gray-5: 173 181 189 !important;
    --gray-6: 134 142 150 !important;
    --gray-7: 36 41 46 !important;
    --gray-8: 24 27 31 !important;
    --gray-9: 16 18 20 !important;
    --color-bg-root: var(--gray-9) !important;
    --color-bg-primary: var(--gray-8) !important;
    --color-bg-secondary: var(--gray-7) !important;
    --color-text-primary: var(--gray-5) !important;
    --color-text-secondary: var(--gray-6) !important;
    --color-border-primary: var(--gray-6) !important;
    --color-accent: 56 189 248 !important;
  }

  &[data-theme=light] {
    background-color: rgb(var(--color-bg-root));
    color: #373a3c !important;
    --color-bg-root: 250 250 250 !important;
    --color-bg-primary: 255 255 255 !important;
    --color-bg-secondary: 244 244 245 !important;
    --color-text-primary: 55 58 60 !important;
    --color-text-secondary: 113 113 122 !important;
    --color-border-primary: 228 228 231 !important;
    --color-accent: 37 99 235 !important;
  }
}
